* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.certificateContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  gap: 25px;
}

.certificateContainer .certificateInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.certificateContainer .certificateInput input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
}

.certificateContainer textarea {
  height: 80px;
  padding-top: 15px;
}

.certificateContainer .certificateButton {
  display: flex;
  justify-content: space-between;
}

.certificateContainer .certificateButton button {
  height: 50px;
  padding: 0 15px;
  background-color: #0984e3;
  outline: none;
  border: 1px solid black;
  color: #fff;
  cursor: pointer;
}
