* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.educationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  gap: 15px;
}

.educationContainer .markcontainer {
  width: 100%;
  display: flex;
  gap: 15px;
}

.educationContainer .markcontainer input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
}

.educationContainer .markcontainer .educationbtn {
  width: 100%;
}

.educationContainer .educationbtn button {
  height: 50px;
  padding: 0 20px;
  background-color: #0984e3;
  color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
