@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mogra;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
